/* Important Please Read:
 * This is just the early WIP of the file. Some selectors are blank because I haven't pulled them over from the SF UI Elements package.
 * Also this file should be loaded after any built in Unity Override styles if used and loaded before any specific sf component styles if used. */

/* Really like to change where the variables are declared. 
 * Putting them in :root is a huge performance issues. 
 * You can see the time in miliseconds using the USS State Editor.
 * Just adding the selector can add up to half a ms (0.5ms) in ui initialization.
 * 60 FPS target is 16.667 milliseconds, so 0.5ms is 2 FPS lost for UI Style Sheet Initialization alone.*/
:root {
    --dark-grey-background: rgb(40, 40, 40);
}


.header-label {
    -unity-text-align: middle-center;
    margin-bottom: 10px;
}

/* The sf-row class will now be used instead of just row. 
    This will allow users to make their own custom row class without conflicts.
    We are only keeping them for now to prevent breaking projects that already used them.
*/

.row {
    display: flex;
    flex-direction: row;
}

.row-item {
    flex: 1 1 auto;
}

.row.split > * {
    width: 50%;
}

.card {
    min-width: 200px;
    width: 25%;
    padding: 1%;
    border-radius: 5px;
    background-color: rgb(25, 25, 25);
}

.card-header {
    -unity-text-align: upper-center;
    margin: 1% 0 20px 0;
}

.card-body {
    padding: 10px;
    margin-bottom: 10px;
}

.card-header__title {
    -unity-text-align: upper-center;
}

.image-field {
    width: 50%;
    margin: 3px 3px;
}

.image-label {
    flex: 1 1 0;
}

.image-preview {
    flex: 0 1 150px;
    min-height: 100px;
    background-color: var(--dark-grey-background);
    background-size: contain;
    padding: 2px;
}

/* Start of all layouts class selectors. Keyword class base selectors not element or id selectors.*/

/* Start of layouts for side bars.*/
.side-bar {
    display: flex;
    flex-direction: row;
}
.side-bar > .side-bar__menu{
    min-width: 200px;
    max-width: 30%;
}

/* End of all layouts class selectors */
