#health-bar__template {
    min-height: 20%;
}

#health-bar {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: 100px;
}

#health-bar .unity-progress-bar__container {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    max-height: 100%;
    min-height: 50px;
}

#health-bar .unity-progress-bar__background {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(176, 163, 38);
}

#health-bar .unity-progress-bar__progress {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(99, 0, 0);
}

#health-bar .unity-progress-bar__title {
    font-size: 16px;
    -unity-text-auto-size: best-fit 10px 100px;
    color: rgb(192, 192, 192);
}
